*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  border-radius: 10px;
  background-color: #333333a6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 20px;
}

.display {
  width: 100%;
  text-align: right;
  border: 0;
  border-radius: 5px;
  box-shadow: inset 2px 5px 0.2px 1px #484747;
  height: 90px;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(119, 157, 190, 0.47);
  /* padding: 10px 0; */
  transform: rotatex(20deg);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-top: 25px;
}

.buttons button {
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(26, 25, 25, 0.6);
  color: aliceblue;
  border: none;
  transition: background 0.3s;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #000;
  color: #ffffff;
}

.buttons button:active {
  background-color: #aaa;
}
